/* maps */
header .color-menu, main .banner, main section img, main .card img, main .card button, .card img, .card button, .card:hover, .card:active {
  border-radius: 10px; }

footer h2, footer h3, footer h4 {
  font-size: 13px; }

main .card h2, main .card h3, main .card h4, .card h2, .card h3, .card h4 {
  padding: 0px;
  font-size: 19px;
  margin: 0.5rem; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff5ff; }

.contenedor {
  display: grid; }

/* header */
header .logo {
  width: 120px; }

header .color-menu {
  background-color: #fff5ff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; }
  header .color-menu .nav-item:hover {
    background-color: #fdefdc;
    border-radius: 10px; }
    header .color-menu .nav-item:hover .nav-link {
      color: black; }
  header .color-menu form > button {
    color: #ffb5cc;
    border: 1px solid #ffb5cc; }
  header .color-menu form > button:hover {
    background-color: #ffb5cc;
    border: 1px solid; }
  header .color-menu .link {
    margin: 1%; }
    header .color-menu .link .cuenta {
      background-color: #fff5ff;
      width: 40px; }
    header .color-menu .link .carrito {
      background-color: #fff5ff;
      width: 40px; }

/* main */
main {
  padding-top: 8.5%; }
  main nav > ol > li > a {
    color: black;
    text-decoration: none; }
  main .bannerContainer {
    position: relative;
    text-align: center; }
    main .bannerContainer .envios {
      background-color: #ffb5cc;
      opacity: 0.7;
      border-radius: 10px;
      font-size: 40px;
      padding: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  main .banner {
    width: 100%;
    height: 80%; }
  main .carousel-item > img {
    margin: auto; }
  main button > span {
    background-color: #ffb5cc; }
  main div h1 {
    padding: 20px;
    text-align: center;
    font-size: 25px; }
  main .combos {
    padding: 1%;
    text-align: center;
    font-size: 27px; }
  main .seccionBudines {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    main .seccionBudines .card img {
      object-fit: cover;
      width: 200px;
      margin-left: auto;
      margin-right: auto; }
  main section img {
    height: 300px; }
  main .novedades {
    padding: 1%;
    text-align: center;
    font-size: 27px; }
  main .seccionNovedades {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

@media screen and (max-width: 480px) {
  main {
    margin-top: 25%; }
    main img {
      width: 100%; }
    main .banner {
      display: none; }
    main .envios {
      display: none; }
    main .seccionCombos {
      flex-direction: column; }
      main .seccionCombos div {
        margin-left: 15%;
        margin-right: 15%; }
    main .seccionNovedades {
      flex-direction: column; }
      main .seccionNovedades div {
        margin-left: 15%; } }

@media screen and (min-width: 601px) and (max-width: 1024px) {
  main .card {
    margin: 2%;
    justify-content: space-evenly; } }

/* footer */
footer {
  background-color: #ffb5cc;
  text-align: center;
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between; }
  footer .footerSecciones {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .footerSecciones .navegacion {
      display: flex;
      flex-direction: column;
      font-size: 17px; }
      footer .footerSecciones .navegacion a {
        text-decoration: none;
        color: black;
        transition: 0.3s; }
    footer .footerSecciones .redes {
      display: flex;
      flex-direction: row; }
      footer .footerSecciones .redes a {
        flex-wrap: wrap; }
      footer .footerSecciones .redes .imgRedes {
        width: 30%;
        transition: 0.3s; }
    footer .footerSecciones .contacto {
      font-size: 17px;
      color: black;
      text-decoration: none; }

.imgRedes:hover {
  transform: scale(1.1); }

.navFooter:hover {
  transform: scale(1.1); }

@media screen and (max-width: 480px) {
  footer {
    display: grid; }
    footer .footerSecciones {
      display: flex;
      flex-direction: column; }
    footer div {
      margin: 3%; } }

@media screen and (min-width: 601px) and (max-width: 1024px) {
  footer .footerSecciones {
    justify-content: space-evenly; } }

/* productos */
main .seccionTartas {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

main .seccionBudines {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

main .tartas {
  padding: 1%;
  text-align: center;
  font-size: 27px; }

main .budines {
  padding: 1%;
  text-align: center;
  font-size: 27px; }

main .card {
  background-color: #fff5ff;
  max-width: 300px;
  margin: 1;
  text-align: center;
  font-family: arial;
  border: 0px;
  transition: 0.3s; }
  main .card img {
    width: 100; }
  main .card .price {
    margin-bottom: 0.5rem; }
  main .card button {
    opacity: 0;
    outline: 0;
    border: none;
    padding: 5px;
    margin: 0;
    color: #fff5ff;
    background-color: #ffb5cc;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }

main .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  main .card:hover button {
    opacity: 1; }

@media screen and (max-width: 480px) {
  .card {
    opacity: 1;
    margin: 2%; }
  .tartas {
    padding: 10px;
    font-size: 30px; }
  .seccionTartas {
    flex-direction: column;
    flex-wrap: wrap; }
    .seccionTartas img {
      object-fit: cover; }
  .seccionBudines {
    flex-direction: column;
    flex-wrap: wrap; }
    .seccionBudines img {
      object-fit: cover; } }

.card {
  background-color: #fff5ff;
  max-width: 300px;
  margin: 1;
  text-align: center;
  font-family: arial;
  border: 0px; }
  .card img {
    width: 100; }
  .card .price {
    margin: 0px; }
  .card button {
    opacity: 0;
    outline: 0;
    border: none;
    padding: 5px;
    margin: 0;
    color: #fff5ff;
    background-color: #ffb5cc;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .card:hover button {
    opacity: 1;
    transition: 0.3s; }

.card:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .card:active button {
    opacity: 1;
    transition: 0.3s; }

/* nosotros */
main h1 {
  text-align: center; }

main .nosotrosP {
  margin: 2%; }

main .nosotrosContainer {
  display: flex;
  align-items: center;
  margin: 3% 2% 0 2%; }

@media screen and (max-width: 600px) {
  main .nosotrosContainer {
    display: grid; } }

/* preguntas frecuentes */
.mainPreguntas span {
  font-size: 18px;
  color: #ffb5cc; }

.mainPreguntas p {
  padding-bottom: 3%; }

.mainPreguntas .accordion-button {
  color: black;
  background-color: #fff5ff;
  border: 1px solid rgba(0, 0, 0, 0.24); }

.contacto {
  display: grid;
  grid-template-columns: 60% 40%; }
  .contacto form {
    margin: 1%; }
    .contacto form .colorForm {
      background-color: #fff5ff;
      border: 0;
      border-bottom: 3px solid #ffb5cc;
      margin: 1%; }
    .contacto form .btn {
      background-color: #fff5ff;
      color: #ffb5cc;
      border: 1px solid #ffb5cc; }
    .contacto form .btn:hover {
      color: #fff5ff;
      background-color: #ffb5cc;
      border: 1px solid; }
  .contacto .contactoSection {
    font-weight: bold; }
    .contacto .contactoSection .imgR {
      display: flex; }
      .contacto .contactoSection .imgR a {
        margin-right: 5%; }
      .contacto .contactoSection .imgR img {
        height: 90%;
        width: 100%; }

@media screen and (max-width: 480px) {
  .contacto {
    display: grid;
    grid-template-columns: auto; }
    .contacto div {
      margin: 2%; }
    .contacto .imgR {
      width: 50%; } }
