/* footer */

footer{
    background-color: $color-rosa;
    text-align: center;
    border-top: 1px solid black;
    padding: 30px;
    margin-top: 20px;

    h2{
        font-size: 15px;
    }

    h3{
        font-size: 15px;
    }
    h4{
        font-size: 15px;
    }

}