/* footer */

footer{
    background-color: $color-rosa;
    text-align: center;
    border-top: 1px solid black;
    padding: 30px;
    margin-top: 20px;

    h2{
        @extend %footerFont;
    }

    h3{
        @extend %footerFont;
    }
    h4{
       @extend %footerFont; 
    }

}