*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-rosac;
}

.contenedor{
    display: grid;

}

/* header */

header{
    .logo{
        max-height: 140px;
    }
    .color-menu{
        background-color: $color-rosac;
        border-radius: $borde;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            .nav-item:hover{
                background-color: $color-cream;
                border-radius: $borde;
                .nav-link{
                    color: black;
                }
            }
    }
}




