/* main */

main{ 

    padding-top: 8.5%;

    nav > ol > li > a{
        color: black;
        text-decoration: none
    }

    .bannerContainer{
        position: relative;
        text-align: center;
        .envios{
            background-color: $color-rosa; 
            opacity: 0.7;
            
            border-radius: $borde;
            font-size: 40px;
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .banner{
        @include size(100%,80%);
        @extend %borde;
    }

    // carousel //

    .carousel-item > img{ 
        margin:auto; 
    }

    button > span{
        background-color: $color-rosa;
    }

    div h1{
        padding: 20px;
        text-align: center;
        font-size: 25px;
    }

    .combos{
        padding: 1%;
        text-align: center;
        font-size: 27px;
    }

    .seccionCombos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        img{
            object-fit: cover;
        }
    }

    section img{
        height: 300px;
        @extend %borde;
        max-width: 300px;
    }

    .budines{
        padding: 1%;
        text-align: center;
        font-size: 27px;
    }

    .seccionBudines{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px){

    main{
        margin-top: 25%;
        img{
            width: 100%;
        }
    
        .banner{
            display: none;
        }

        .envios{
            display: none;
        }
    
        .seccionCombos{
            flex-direction: column;
            div{
                margin-left: 15%;
                margin-right: 15%;
            } 
        }
    
        .seccionNovedades{
            flex-direction: column;
            div{
                margin-left: 15%;
            } 
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    main{
        .card{
            margin: 2%;
            justify-content: space-evenly;
        }
    }
}

