/* nosotros */

main{

    h1{
        text-align: center;
    }


    .nosotrosP{
        margin: 2%;
    }

    .nosotrosContainer{
        display: flex;
        align-items: center;
        margin-top: 3%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 600px){
    main{
        .nosotrosContainer{
            display: grid;
        }
    }
}

