/* nosotros */

main{

    h1{
        text-align: center;
    }

    .nosotrosP{
        margin: 2%;
    }

    .nosotrosContainer{
        display: flex;
        align-items: center;
        margin-top: 3%;
    }
}