/* preguntas frecuentes */

 .mainPreguntas{
    span{
    font-size: 18px;
    color: $color-rosa;
    }
    
    p{
        padding-bottom: 3%;
    }

    .accordion-button{
        color: black;
        background-color: $color-rosac;
        border: 1px solid rgba(0, 0, 0, 0.24);
    }
 }